body{
	background: hsla(35,80%,92%,1);
}
body>main{
	background-color: hsla(0,0%,100%,1);
	box-shadow: 0 0.05em 0.3em hsla(0,0%,0%,0.2);
}

body>main>section{
	background-color: hsla(210,100%,80%,1);
}

body>main>section.falling{
	background-color: hsla(270,100%,80%,1);
}

body>main>section:empty{
	visibility: hidden;
}

body>main>section::selection{
	background-color: transparent;
	color: hsla(0,0%,100%,1);
}

body>main>dialog.game-over{
	text-shadow: 0 0.03em 0.14em hsla(14,100%,57%,1);
	color: hsla(14,100%,57%,1);
	background: hsla(0,0%,100%,0.83);
	box-shadow: 0 0.03em 0.14em hsla(14,100%,57%,0.2);
	border-radius: 0.14px;
}

body>main>dialog.game-over::selection{
	background-color: transparent;
	color: transparent;
}

body>main>dialog.paused{
	text-shadow: 0 0.03em 0.14em hsla(214,100%,57%,1);
	color: hsla(214,100%,57%,1);
	background: hsla(0,0%,100%,1);
	border-radius: 0.14px;
}

body>aside>.hints section{
	font-size: 2em;
	background-color: hsla(210,100%,80%,1);
}
