body{
	background: hsla(35,80%,92%,1);
}
body>main{
	background-color: hsla(0,0%,100%,1);
	box-shadow: 0 0.05em 0.3em hsla(0,0%,0%,0.2);
}

body>main>section{
	background-color: hsla(210,100%,80%,1);
}

body>main>section.falling{
	background-color: hsla(270,100%,80%,1);
}

body>main>section:empty{
	visibility: hidden;
}

section::selection{
	background-color: transparent;
	color: hsla(0,0%,100%,1);
}

body>main>dialog::selection{
	background-color: transparent;
	color: transparent;
}

body>main>dialog.game-over{
	text-shadow: 0 0.03em 0.14em currentColor;
	color: hsla(14,100%,57%,1);
	background: hsla(0,0%,100%,0.83);
	box-shadow: 0 0.03em 0.14em hsla(14,100%,57%,0.2);
	border-radius: 0.14px;
}

body>main>dialog.level-cleared{
	text-shadow: 0 0.03em 0.14em currentColor;
	color: hsla(120,100%,43%,1);
	background: hsla(0,0%,100%,0.83);
	box-shadow: 0 0.03em 0.14em hsla(14,100%,57%,0.2);
	border-radius: 0.14px;
}

body>main>dialog button{
	background: hsl(210, 100%, 80%);
	color: hsl(0, 0%, 100%);
	border-radius: 0.2em;
	transition: box-shadow 200ms, text-shadow 200ms;
}

body>main>dialog.game-over button:hover,
body>main>dialog.game-over button:active{
	box-shadow: inset 0 0.05em 0.2em hsla(0, 0%, 0%, 0.2);
	text-shadow: 0 0.05em 0.2em hsla(0, 0%, 0%, 0.2);
}

body>main>dialog.paused{
	text-shadow: 0 0.03em 0.14em hsla(214,100%,57%,1);
	color: hsla(214,100%,57%,1);
	background: hsla(0,0%,100%,1);
	border-radius: 0.14px;
}

body>aside section{
	font-size: 2em;
	background-color: hsla(210,100%,80%,1);
}

body>aside section.placeholder{
	color: hsla(0,0%,0%,0.125);
}

body>aside section.placeholder::selection{
	color: hsla(0,0%,100%,0.25);
}
